.container {
  display: flex;
  height: 90vh;
}

.controls {
  width: 25%;
  padding: 1rem;
  background-color: #14161a61;
  color: #fff;
}

.controls input {
  border: none;
}

.map-container {
  width: 100%;
  height: 90vh;
}

.map {
  width: 80%;
  height: 90vh;
}

.highlight {
  font-size: 1.25rem;
  font-weight: 700;
}

.combobox-input {
  width: 90%;
  padding: 0.5rem;
}

.combobox-list {
  background-color: #fff;
  border-radius: 3px;
}

.combobox-option {
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px;
  cursor: pointer;
}

.combobox-option:hover {
  color: #063d1da0;
}

.info-text {
  font-size: 0.75rem;
}

.distance-wrapper {
  margin-top: 5px;
}

.distance-info {
  padding: 3px;
}

.clear-button,
.demo-button {
  margin: 5px auto;
}

.clear-button button,
.demo-button {
  cursor: pointer;
}

.destinations-panel-wrapper {
  margin-top: 10px;
}

.destination-gps {
  margin: 5px auto;
  cursor: pointer;
}

.temp-section {
  margin-top: 30px;
  color: #063d1d;
}
